$container_bg_color: #001219;

$navbar_bg_color: #fdd10d;
$navbar_text_color: #001219;

$intro_title_color: #001219;

$hello_h2_before_bg: #fdd10d;



$h2_text_color: #fdd10d;
$p_text_color: #fde477;

$portfolio_project_panel: #fdd10d;
$portfolio_project_entry_bg: rgba(255, 255, 255, 0.05);
// $portfolio_project_entry_bg: rgba(253, 209, 13, 1);

$portfolio_project_entry_box_shadow: rgba(255,255,255,0.4);

$portfolio_project_entry_text: #fdd10d;
$portfolio_project_entry_brdr: #fdd10d;
// $portfolio_project_entry_brdr: #001219;