$main_color: #9ca1a5;
$secondary_color: #212529;

// $main_color: #212529;
// $secondary_color: #e9ecef;

// $main_color: #001219;
// $secondary_color: #fdd10d;

$container_bg_color: $main_color;

$navbar_bg_color: $secondary_color;
$navbar_text_color: $main_color;

$intro_title_color: $main_color;

$hello_h2_before_bg: $secondary_color;


$h2_sphere_bg_color: $secondary_color;

$h2_text_color: $main_color;
$p_text_color: $secondary_color;

$portfolio_project_panel: $secondary_color;
$portfolio_project_entry_bg: rgba(255, 255, 255, 0.05);
// $portfolio_project_entry_bg: rgba(253, 209, 13, 1);

$portfolio_project_entry_box_shadow: rgba(255,255,255,0.4);

$portfolio_project_entry_text: $secondary_color;
$portfolio_project_entry_brdr: $secondary_color;
// $portfolio_project_entry_brdr: #001219;