@use './color'as *;

.contact_content {
    background-color: $container_bg_color;

    h2 {
        color: $h2_text_color;
    }

    p {
        color: $p_text_color;
    }
    a {
        color: $p_text_color;
    }

    div:nth-child(2){
        display: flex;
        align-items: center;
        margin: 2rem 0;
        a{
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.75rem;
            padding: 0.25rem;
            cursor: pointer;
            border-radius: 100%;
            transition: all 0.8s ease-in-out;
            transform-origin: center center;

            &:hover{
                background-color: $highlight_color;
                box-shadow: 0.25rem 0.25rem 0.5rem $secondary_color;
            }
        }
    }
}