@use './color'as *;

.contact_content {
    background-color: $container_bg_color;

    h2 {
        color: $h2_text_color;
        position: relative;
        width: fit-content;

        &::before {
            content: "Contact";
            position: absolute;
            display: inline-block;
            opacity: 0;
            width: 100%;
            height: 100%;
            left: -3px;
            // top: -2px;
            color: $secondary_color;
            clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
        }

        &::after {
            content: "Contact";
            position: absolute;
            display: inline-block;
            opacity: 0;
            width: 100%;
            height: 100%;
            left: 3px;
            // top: -2px;
            color: $secondary_color;
            clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 40%);
        }

        &:hover {
            &::before {
                animation: 0.75s ease-in-out infinite titleAnimationBeforeElem;
            }

            &::after {
                animation: 0.75s ease-in-out infinite titleAnimationAfterElem;
            }
        }
    }

    p {
        color: $p_text_color;
    }
    a {
        color: $p_text_color;
    }

    div:nth-child(2){
        display: flex;
        align-items: center;
        margin: 2rem 0;
        a{
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.75rem;
            padding: 0.25rem;
            cursor: pointer;
            border-radius: 100%;
            transition: all 0.8s ease-in-out;
            transform-origin: center center;

            &:hover{
                background-color: $highlight_color;
                box-shadow: 0.25rem 0.25rem 0.5rem $secondary_color;
            }
        }
    }
}

@keyframes titleAnimationBeforeElem {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 0.75;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes titleAnimationAfterElem {

    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}