@use './color'as *;

.contact_content {
    background-color: $container_bg_color;

    h2 {
        color: $h2_text_color;
    }

    p {
        color: $p_text_color;
    }
    a {
        color: $p_text_color;
    }

    div:nth-child(2){
        display: flex;
        align-items: center;
        margin: 2rem 0;
        a{
            // border: 1px solid black;
            margin: 0 1.25vw;
            padding: 1vw;
            cursor: pointer;
        }
    }
}