

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Roboto:wght@300;400&display=swap');

h2{
    font-family: 'Libre Baskerville',
    serif;
    font-style: bold;
    font-weight: 700;
    font-size: 3.5vw;
    letter-spacing: 0.05rem;
    word-spacing: 0.02rem;
    width: fit-content;
    overflow: hidden;
}

h3{
    font-family: 'Libre Baskerville',
    serif;
    font-style: italic;
    font-weight: 400;

    font-size: 2.75vw;
}

p{
    font-family: 'Roboto',
    sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 2vw;
}

li, a{
    font-family: 'Roboto',
    sans-serif;
    font-style: Regular;
    font-weight: 300;
    font-size: 1.75vw;
}