
@use './mixins/mediaQuery.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Roboto:wght@300;400&display=swap');

h1{
    font-family: 'Libre Baskerville',
    serif;
    font-style: bold;
    font-weight: 700;
    // font-size: 3.5vw;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    word-spacing: 0.02em;
    width: fit-content;
    overflow: hidden;

    @include md_screen{
        font-size: 2em;
    }
    @include sm_screen{
        font-size: 2em;
    }
}

h2{
    font-family: 'Libre Baskerville',
    serif;
    font-style: italic;
    font-weight: 400;

    font-size: 2em;

    @include md_screen {
        font-size: 2.5em;
    }
}

p{
    font-family: 'Roboto',
    sans-serif;
    font-weight: 300;
    font-size: 1.35em;
    @include sm_screen{
        font-size: 0.85em;
    }
}

li, a{
    font-family: 'Roboto',
    sans-serif;
    font-style: Regular;
    font-weight: 400;
    font-size: 1em;

    @include sm_screen {
        font-size: 0.85em;
    }
}

li{
    @include sm_screen{
        font-size: 8vw;
        font-weight: 500;
    }
}

span{
    font-weight: 800;
    font-size: 1em;

    @include sm_screen {
        font-size: 0.85em;
    }
}