
@use './mixins/mediaQuery.scss' as *;

h1, span{
    font-family: 'Bebas Neue',
    serif;
    font-style: bold;
    font-weight: 700;
    // font-size: 3.5vw;
    font-size: 3.5vw;
    letter-spacing: 0.05vw;
    word-spacing: 0.02vw;
    width: fit-content;
    overflow: hidden;

    @include sm_screen{
        font-size: 2vw;
    }
    @include md_screen {
        font-size: 2vw;
    }
    @include lg_screen{
        font-size: 3vw;
    }
    @include xl_screen{
        font-size: 5vw;
    }
}

h2{
    font-family: 'Montserrat',
    sans-serif;
    font-style: bold;
    font-weight: 700;

    font-size: 2vw;

    @include sm_screen{
        font-size: 3.65vw;
    }
    @include md_screen {
        font-size: 1.5vw;
    }
    @include lg_screen {
        font-size: 1.85vw;
    }
    @include xl_screen{
        font-size: 3.5vw;
    }
}

h3{
    font-family: 'Montserrat',
    sans-serif;
    font-style: svwi-bold;
    font-weight: 600;

    font-size: 2vw;

    @include sm_screen {
        font-size: 3.5vw;
    }
    @include md_screen {
        font-size: 1.5vw;
    }
    @include lg_screen {
        font-size: 1.85vw;
    }
    @include xl_screen{
        font-size: 3.5vw;
    }
}

p{
    font-family: 'Montserrat',
    sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 1.35vw;

    @include sm_screen{
        font-size: 3vw;
    }
    @include lg_screen {
        font-size: 1.5vw;
    }
    @include xl_screen {
        font-size: 2.5vw;
    }
}

li, a{
    font-family: 'Montserrat',
    sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 1vw;

    @include sm_screen {
        font-size: 2.85vw;
    }
     @include xl_screen {
         font-size: 1.25vw;
     }
}

