@use './color' as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Bebas Neue, Montserrat,  BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  visibility: hidden;
  background-color: $container_bg_color;
  // cursor: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
