@use './color' as *;
@use './mixins/mediaQuery.scss' as *;

.intro{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $container_bg_color;
    h1, h2{
        color: $secondary_color;
    }

    
}
.img_container{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    span{
        width: 100%;
        height: 100%;
    }

    span:nth-child(1){
        top: 0;
        left: 0;
    }
}
.presentation{
    position: absolute;
    top: 0;
    left: 0;
    // top: 31.25%;
    // left: 10%;
    transform: translate(5%,50%);
    z-index: 10;
    opacity: 1;
    cursor: default;
    
    @include sm_screen{
        transform: translate(5%, 70%);
    }
    @include lg_screen{
        transform: translate(15%, 80%);
    }
    @include xl_screen{
        transform: translate(15%, 100%);
    }
    div {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            color: $highlight_color;
        }
        h2{
            font-size: 3.5em;

            @include md_screen {
                font-size: 2.75em;
            }
            @include sm_screen {
                font-size: 2em;
            }
        }
    }

    div:nth-child(2){
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: row;
    }
}
