@use './color' as *;
@use './mixins/mediaQuery' as *;
@use './mixins/animation'as *;
.intro{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $container_bg_color;
    h1, h2{
        color: $secondary_color;
    }

    
}
.middle_name{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.img_container{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    span{
        width: 100%;
        height: 100%;
    }

    span:nth-child(1){
        top: 0;
        left: 0;
    }
}
.presentation{
    // position: absolute;
    // top: 0;
    // left: 0;
    // transform: translate(5%,35%);
    z-index: 10;
    opacity: 1;
    cursor: default;
    div {
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            @include sm_screen {
                font-size: 6.5vw;
            }
        }
        span{
            color: $highlight_color;
            font-size: 8rem;
            @include sm_screen{
                font-size: 16vw;
            }
        }
        h2{
            font-size: 3.5vw;
            color: $highlight_color;

            @include md_screen {
                font-size: 2.75vw;
            }
            @include sm_screen {
                font-size: 4vw;
            }
        }
    }

    .profile_img_container {
        position: absolute;
        top: 10%;
        right: 38%;
        width: 30%;
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: $img_profile_bg;
        overflow: hidden;
        z-index: 5;
        clip-path: circle(0% at 50% 50%);
        // mix-blend-mode: luminosity;
        opacity: 1;
        // background: hsla(17, 83%, 54%, 1);
        background: hsla(17, 83%, 54%, 1);
        background: linear-gradient(0deg, hsla(17, 83%, 54%, 1) 0%, hsla(46, 100%, 97%, 1) 95%);
        border: 2vw solid hsla(17, 83%, 54%, 1)
    }

    div:nth-child(2){
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: row;
    }
}
.name_animation{
    
    span{
        display:inline-block;
    }
}