@use './color' as *;
@use './mixins/mediaQuery.scss' as *;

.intro{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $container_bg_color;
    h1, h2{
        color: $secondary_color;
    }

    
}
.img_container{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    span{
        width: 100%;
        height: 100%;
    }

    span:nth-child(1){
        top: 0;
        left: 0;
    }
}
.presentation{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5vw,30vh);
    z-index: 10;
    opacity: 1;
    cursor: default;
    div {
        width: 100%;
        height: fit-content;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            @include sm_screen {
                font-size: 6.5vw;
            }
        }
        span{
            color: $highlight_color;
            font-size: 18vw;
            @include sm_screen{
                font-size: 16vw;
            }
        }
        h2{
            font-size: 3.5vw;

            @include md_screen {
                font-size: 2.75vw;
            }
            @include sm_screen {
                font-size: 4vw;
                color: #403d39;
            }
        }
    }

    div:nth-child(2){
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: row;
    }
}
