@use './color' as *;
@use './mixins/mediaQuery.scss' as *;
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8%;
    display: flex;
    z-index: 20;
    background-color: $navbar_bg_color;
    
    div:nth-child(1){
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        span{
            color: $navbar_text_color;
            letter-spacing: 0.5vw;
            font-size: 2.5vw;
        }
    }
    div:nth-child(2) {
        display: flex;
        flex: 3;
        justify-content: flex-end;
        ul{
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
                list-style: none;
                transition: all 0.3s ease-in;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $navbar_text_color;
            }
        }
        
    }
}
.mobNav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12%;
    display: flex;
    z-index: 20;
    background-color: $navbar_bg_color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-child(1){
        color: $navbar_text_color;
        margin: 0 5vw;
        
        span{
            font-size: 10vw;
            letter-spacing: 0.5vw;
        }
    }

    .burgerContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 5vw;
        span:nth-child(1){
            display: inline-block;
            width: 6.15vw;
            height: 0.8vw;
            margin: 0.1rem;
            background-color: $navbar_text_color;
        }
        span:nth-child(2){
            display: inline-block;
            width: 4.85vw;
            height: 0.6vw;
            margin: 0.1rem;
            background-color: $navbar_text_color;
        }
    }
    
}
.mobileMenu {
    width: 100vw;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    background-color: $navbar_bg_color;
    ul {
        width: 100%;
        height: 100%;

        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: justify-start;
        li{
            font-size: 8vw;
            font-weight: bold;
            margin: 0 6.5vw;
            list-style: none;
            color: $navbar_text_color;
            text-transform: uppercase;
        }
    }
}