@use './color' as *;

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8%;
    display: flex;
    z-index: 20;
    background-color: $navbar_bg_color;
    
    div:nth-child(1){
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        span{
            color: $navbar_text_color;
        }
    }
    div:nth-child(2) {
        display: flex;
        flex: 3;
        justify-content: flex-end;
        ul{
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
                list-style: none;
                transition: all 0.3s ease-in;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $navbar_text_color;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1) skewX(16deg) translateY(-0.4rem);
                }
            }
        }
        
    }
}