@use './color'as *;

.skill_content {
    background-color: $container_bg_color;

    h2 {
        color: $h2_text_color;
    }

    p {
        color: $p_text_color;
    }
}
.tech_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div{
        flex: 2.5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg{
            transform: scale(1.5);
            path{
                transition: all 0.5s ease-in-out;
            }
            &:hover{
                path{
                    fill: $highlight_color;
                }
                
            }
        }
    }
}