@use './color' as *;
@use './mixins/mediaQuery' as *;

.transition{
  div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
  }
  div:nth-child(1){
    background-color: $secondary_color;
    z-index: 2000;
  }
  div:nth-child(2) {
    background-color: $highlight_color;
    z-index: 3000;
  }
  div:nth-child(3) {
    background-color: $main_color;
    z-index: 4000;

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 12vw;

      // @include sm_screen {
      //   font-size: ;
      //   // transform: rotate(90deg);
      // }
    }
    span{
      color: $highlight_color;
    }
  }
}
.container {
  padding: 0 2rem;
}

.components{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.main {
  min-height: 50vh;
  padding: 0 2vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify-start;
}
.inner_cursor {
  width: 1.65vw;
  aspect-ratio: 1;
  position: fixed;
  display: inline-block;
  top: -50px;
  left: -50px;
  z-index: 500;
  border-radius: 100%;
  pointer-events: none;
  background-color: $inner_cursor_color;
  border: 0.25rem solid $inner_cursor_color;
  @include sm_screen{
    display: none;
  }
  @include xl_screen{
    width: 3.5rem;
  }
}
.click{
  cursor: pointer;
}
.title_container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.6vw solid $h2_sphere_bg_color;
  border-bottom: 0.6vw solid $h2_sphere_bg_color;
  overflow: hidden;
  block-size: fit-content;
  width: 100%;
  height: 80%;
  padding: 0;
  h1{
    margin: 0 1rem;
    padding: 0;

    @include sm_screen {
      font-size: 5vw;
    }
  }
  @include sm_screen{
    width: 100vw;
    padding: 0;
    transform: translateX(-4%);

  }
}