@use './color' as *;
@use './mixins/mediaQuery.scss' as *;

.transition{
  div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
  }
  div:nth-child(1){
    background-color: $secondary_color;
    z-index: 2000;
  }
  div:nth-child(2) {
    background-color: $highlight_color;
    z-index: 3000;
  }
  div:nth-child(3) {
    background-color: $main_color;
    z-index: 4000;

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 11rem;

      @include sm_screen {
        font-size: 5rem;
        transform: rotate(90deg);
      }
    }
    span{
      color: $highlight_color;
    }
  }
}
.container {
  padding: 0 2rem;
}

.components{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.main {
  min-height: 70vh;
  padding: 0 2vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify-start;
}
.inner_cursor {
  width: 1.65rem;
  aspect-ratio: 1;
  position: fixed;
  display: inline-block;
  // position: relative;
  top: -50px;
  left: -50px;
  z-index: 500;
  border-radius: 100%;
  pointer-events: none;
  background-color: $inner_cursor_color;
  border: 0.25rem solid $inner_cursor_color;
  &::before{
    display: inline-block;
    content: 'Click';
    width: 100%;
    position: absolute;
    font-size: 2.25vw;
    font-weight: 600;
    color: $inner_cursor_color;
    opacity: 0;
  }
  @include sm_screen{
    display: none;
  }
}
.focus{
  transition: all 0.8s ease-in-out;
  transform-origin: center center;
  
  &:hover{
    color: $highlight_color;
  }
}
.click{
  cursor: pointer;
}
.title_container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.4rem solid $h2_sphere_bg_color;
  border-bottom: 0.4rem solid $h2_sphere_bg_color;
  overflow: hidden;
  block-size: fit-content;
  width: 100%;
  height: 100%;
  padding: 0.05rem 0;
  h1{
    margin: 0 1rem;
    padding: 0.25rem 0;
    font-weight: 800 !important;

    @include sm_screen {
      font-size: 1rem;
    }
  }
  @include sm_screen{
    width: 100vw;
    padding: 0;
    transform: translateX(-4%);

  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
