
@mixin sm_screen{
    @media screen and (max-width: 575.98px){
        @content;
    }
};

@mixin md_screen{
    @media screen and (max-width:767.98px){
        @content;
    }
};

@mixin lg_screen{
    @media  screen and (max-width:891.98px){
        @content;
    }
};
// @mixin lg_screen{
//     @media  screen and (max-width:991.98px){
//         @content;
//     }
// };

@mixin xl_screen{
    @media screen and (max-width: 1199.98px){
        
    }
}