@use './mixin/mediaQueries' as *;

.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: justify-start;

    .aboutContent {
        display: block;
        width: 100%;
        div{
            display: flex;
        }
        span{
            width: 35%;
        }
        p{
            width: 60%;
        }
        span:nth-child(1){
            transform: translate(-2vw, -4vw);
        }
        span:nth-child(2) {
            transform: translate(2vw, -4vw);
        }

        div:nth-child(3){
            p{
                width: 100%;
            }
        }
        @include sm_screen{
            div{
                display: flex;
                flex-direction: column;
                p{
                    width: 100%;
                }
                img{
                    transform: scale(0.7);
                }
            }
        }
    }
    
}