@use './mixin//mediaQueries' as *;

// ===================== H1 ====================== //
    $h1_font_family: 'Mochiy Pop P One',
    sans-serif;
    $h1_font_size: max(2.5rem, 3vw);
    $h1_letter_spacing: 0.15vw;
    $h1_line_height: 2.85vw;

    $h1_font_size_sm: min(3rem, 6vw);
    $h1_letter_spacing_sm: 0.15vw;
    $h1_line_height_sm: 1.85vw;

    $h1_font_size_md: max(1.8rem, 3.8vw);
    $h1_letter_spacing_md: 0.15vw;
    $h1_line_height_md: 2.8vw;

    $h1_font_size_lg: max(2rem, 3.85vw);
    $h1_letter_spacing_lg: 0.15vw;
    $h1_line_height_lg: 2.8vw;
// ===================== H2 ====================== //
    // $h2_font_size: max(1.65rem,2vw);
    $h2_font_family: 'Poppins',
    sans-serif;
    $h2_font_size: min(4rem, 2.75vw);
    $h2_letter_spacing: 0.15vw;
    $h2_line_height: 2.5vw;

    $h2_font_size_sm: 1.25rem;
    $h2_letter_spacing_sm: 0.15vw;
    $h2_line_height_sm: 6vw;

    $h2_font_size_md: 1.5rem;
    $h2_letter_spacing_md: 0.15vw;
    $h2_line_height_md: 6.6vw;
// ===================== P ======================= //
    $p_font_family: 'Poppins',
    sans-serif;
    $p_font_size: max(1.45rem, 1.75vw);
    // $p_font_size: min(1.8rem, 2vw);
    $p_letter_spacing: 0.15vw;
    $p_line_height: 3.25vw;

    $p_font_size_sm: 1.1rem;
    $p_letter_spacing_sm: 0.15vw;
    $p_line_height_sm: 4.25vw;

    $p_font_size_md: 1.25rem;
    $p_letter_spacing_md: 0.15vw;
    $p_line_height_md: 5vw;

.font{

    & h1{
        font-family: $h1_font_family;
        font-size: $h1_font_size;
        letter-spacing: $h1_letter_spacing;
        line-height: $h1_line_height;
        position: relative;
        z-index: 4;
        width: fit-content;
        // height: fit-content;
        @include lg_screen {
            font-size: $h1_font_size_lg;
            letter-spacing: $h1_letter_spacing_lg;
            line-height: $h1_line_height_lg;
        }

        @include md_screen {
            font-size: $h1_font_size_md;
            letter-spacing: $h1_letter_spacing_md;
            line-height: $h1_line_height_md;
        }
        @include sm_screen{
            font-size: $h1_font_size_sm;
            letter-spacing: $h1_letter_spacing_sm;
            line-height: $h1_line_height_sm;
        }

        
    }
    & h1::Before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 102%;
        height: 90%;
        top: 65%;
        left: -0.25rem;
        filter: blur(0.15rem);
        background-color: rgb(81, 116, 81);
        z-index: -1;
        transition: all 0.9s cubic-bezier(.93, 0, .34, 1.42);

        @include sm_screen{
            height: 150%;
            left: 0;
        }
    }
    & h1:hover::before{
        height: 44%;
    }
    & h2{
        font-family: $h2_font_family;
        font-weight: 400;
        font-style: regular;
        font-size: $h2_font_size;
        letter-spacing: $h2_letter_spacing;
        line-height: $h2_line_height;
        
        @include md_screen {
            font-size: $h2_font_size_md;
            letter-spacing: $h2_letter_spacing_md;
            line-height: $h2_line_height_md;
        }
        @include sm_screen {
            font-size: $h2_font_size_sm;
            letter-spacing: $h2_letter_spacing_sm;
            line-height: $h2_line_height_sm;
        }
        
    }
    & p{
        font-family: $p_font_family;
        font-size: $p_font_size;
        font-style: light;
        font-weight: 300;
        letter-spacing: $p_letter_spacing;
        line-height: $p_line_height;

        @include md_screen {
            font-size: $p_font_size_md;
            letter-spacing: $p_letter_spacing_md;
            line-height: $p_line_height_md;
        }
        @include sm_screen {
            font-size: $p_font_size_sm;
            letter-spacing: $p_letter_spacing_sm;
            line-height: $p_line_height_sm;
        }
        
    }
}