@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');

html,
body {
  visibility: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system,
  Mochiy Pop P One,
  Poppins,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @media screen and (max-width: 565.98px){
//   html, body {
//     overflow-x: hidden;
//     overflow-y: scroll;
//     width: 100vw;
//     height: auto;
//   }
// }