@use './colors' as *;
@use './mixin//mediaQueries' as *;

.intro_content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 12vh 0;

    & div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        transform : translate(4vw, -12vh) scale(1.05);
        

        span:nth-child(1)::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 100%;
            aspect-ratio: 1;
            background: $introContentProgrammerImgBg;
            border-radius: 75%;

            transition: background 0.5s ease-in-out;

        }
    

        span:nth-child(1):hover::before {
            background: $introContentProgrammerImgHoverBg;
        }

        // span:nth-child(2) {
        //     position: absolute;
        //     transform: scale(3) translateY(2rem);
        // }

        span:nth-child(2) span:before {
            display: none;
        }

        .imgTerminal {
            position: absolute;
            transform: scale(0.9) ;
        }
        @include md_screen {
            span:nth-child(1) {
                transform:translateY(25%) translateX(15%);


                span::before {
                    visibility: hidden;
                }
            }
            span:nth-child(2) {
                transform: scale(0.7) translateY(42rem) translateX(-32rem) !important;
            }
        }
        @include sm_screen {
            span:nth-child(1) {
                transform:translateY(25%) translateX(15%);
            }
            span:nth-child(2) {
                transform: scale(0.7) translateY(27rem) translateX(-11rem) !important;

            }
        }
        
    }

    & div:nth-child(2) {
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & div {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        & div span{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3rem;
            padding: 0 0.5rem;
            transition: background 0.6s ease-in-out;
            @include lg_screen {
                transform: scale(0.9);
            }
            @include md_screen {
                transform: scale(0.8);
            }
            @include sm_screen {
                transform: scale(0.8);
            }
            
        }
        & div span p {

            // font-size: 1.2rem;
            font-weight: 600;
            visibility: hidden;
            margin: 0.5rem 0rem;
            transform: scale(0.5);

            @include lg_screen{
                font-size: 1rem;
                visibility: visible;
            }
            @include md_screen{
                font-size: 1rem;
                visibility: visible;
            }
            @include sm_screen {
                transform: scale(0.7) translateY(25%);
                visibility: visible;
            }
        }

        & div span:hover {
            cursor: pointer;
            background-color: $hoverBg;
            box-shadow: rgba(152, 152, 152, 0.7) 0.25rem 0.5rem 1rem;
            svg{
                path{
                    fill: #333333;
                }
            }
            & p {
                visibility: visible;
            }
        }
    }
    @include md_screen {
        display: block;
    }
    @include sm_screen{
        display: block;
    }
}