@use './colors' as *;
@use './mixin/mediaQueries' as *;

.portfolioWrapper{
    min-height: 100vh;
    .panel{
        display: grid;
        grid-template-columns: repeat(6, 36vw);
        gap: 10px;
        // position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 80vw;
        // height: max(50rem, 40vh);
        height: 55vw;
        scrollbar-width: none;
        @include lg_screen {
            position: absolute;
            height: 70vw;
            width: 90vw;
            gap: 5px;
            grid-template-columns: repeat(6, 40vw);
        };
        @include md_screen {
            position: absolute;
            height: 96vw;
            width: 90vw;
            gap: 1px;
            grid-template-columns: repeat(6, 40vw);
        };
        @include sm_screen {
            position: absolute;
            height: 55vh;
            width: 90vw;
            grid-template-columns: repeat(6, 40vw);
            // gap: 41vw;
        };
    }
    .portfolioListEntry{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 2vw 0vw;
        padding: 1.5vw;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.5s ease-in-out;

        @include md_screen {
            transform: scale(0.8);
            padding: 2.25vw;
            width: 110%;
        }

        @include sm_screen{
            width: 200%;
            margin: 4vw 0;
        }
    }
    .portfolioListEntry:hover{
        background-color: $hoverBg;
        // position: absolute;
        transform: scale(1.05);
        border: 0.25rem solid rgba(255, 255, 255, 0.4);
        z-index: 5;
    }
    .title{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 20%;
        h2 {
            transform: scale(0.85);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.65rem;
            border-radius: 100%;

            transition: all 0.5s ease-in-out;
        }
        a:hover{
            background-color: $portfolioGithubLogoHoverBg;
            border: 0.1rem solid $hoverBorder;
            
            color: white;
        }
    }
    .moreInfo{
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        padding: 1rem 0.15rem;
        // border-radius: 1rem 1.5rem 1.5rem 1rem;
        // border: 0.1rem solid black;
        p{
            transform: scale(0.85);
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            aspect-ratio: 1;
            // background-color: rgba(255, 255, 255, 0.2);
            border-radius: 100%;
            padding: 0.1rem;
            font-size: 2vw;
        }
    }
}

.projectContent{
    div{
        transform: translateY(3rem);
        width: 80vw;
    }
    div:nth-child(1){
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0.75rem 0.5rem;
            padding: 0.75rem 0;
            border-radius: 3rem;
            // background-color: red;
            transform:  scale(0.7);
            transition: all 0.5s ease-in-out;
            // z-index:10;
            p {
                font-weight: 600;
                visibility: hidden;
                margin: 0.5rem 0rem;
                transform: scale(0.8);

                @include lg_screen {
                    font-size: 1rem;
                    visibility: visible;
                }

                @include md_screen {
                    font-size: 1rem;
                    visibility: visible;
                }

                @include sm_screen {
                    transform: scale(0.7) translateY(25%);
                    visibility: visible;
                }
            }
        }
        span:hover {
            cursor: pointer;
            background-color: $hoverBg;
            box-shadow: rgba(152, 152, 152, 0.7) 0.25rem 0.5rem 1rem;

            svg {
                path {
                    fill: #333333;
                }
            }
            & p {
                visibility: visible;
            }
        }
        @include lg_screen{
            h1{
                transform: scale(0.97);
            }
        }
    }
    div:nth-child(2){
        span{
            position: relative;
            width: fit-content;
            height: fit-content;
            transform: translateX(4rem);
        }
        span:before{
            position: absolute;
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 70%;
            background-color: $introContentProgrammerImgBg;
            transform: translateX(-2rem) scale(0.95);
            transition: all 0.5s ease-in-out;
        }
        span:hover::before {
            background-color: $introContentProgrammerImgHoverBg;
        }
    }
}
