@use './colors' as *;
@use './mixin//mediaQueries' as *;

.intro_content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 12vh 0;

    & div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        transform : translate(4vw, -12vh) scale(1.05);
        

        span:nth-child(1)::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 100%;
            aspect-ratio: 1;
            background: $introContentProgrammerImgBg;
            border-radius: 75%;

            transition: background 0.5s ease-in-out;

        }
    

        span:nth-child(1):hover::before {
            background: $introContentProgrammerImgHoverBg;
        }

        // span:nth-child(2) {
        //     position: absolute;
        //     transform: scale(3) translateY(2rem);
        // }

        span:nth-child(2) span:before {
            display: none;
        }

        .imgTerminal {
            position: absolute;
            transform: scale(0.9) ;
        }
        @include md_screen {
            span:nth-child(1) {
                transform:translateY(25%) translateX(15%);


                span::before {
                    visibility: hidden;
                }
            }
            span:nth-child(2) {
                transform: scale(0.7) translateY(45rem) translateX(-20rem) !important;
            }
        }
        @include sm_screen {
            span:nth-child(1) {
                transform:translateY(25%) translateX(15%);
            }
            span:nth-child(2) {
                transform: scale(0.8) translateY(25rem) translateX(-12rem) !important;

            }
        }
        
    }

    & div:nth-child(2) {
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & div {
            width: 35%;
            display: flex;
            justify-content: space-between;
            @include md_screen {
                width: 80%;
            }
        }
        & div span{
            display: flex;
            
        }
        & div span p {
            font-size: 2rem;
            font-weight: 600;
            visibility: hidden;
            margin: 0.5rem 0.25rem;

            @include md_screen{
                font-size: 1rem;
            }
        }

        & div span:hover {
            cursor: pointer;

            & p {
                visibility: visible;
            }
        }
        // @include md_screen {
        //     width: 225%;
        // }
    }
    @include md_screen {
        display: block;
    }
    @include sm_screen{
        display: block;
    }
}