.logo {
    position: absolute;
    left: 3vw;
    z-index: 30;
    top: 2.5vh;
    min-width: 25vw;
     max-height: 78px;
    h2 {
       position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.navbar_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    position: fixed;
    top: 4vh;
    right: 3vw;
    padding: 0.75rem 0;
    border-radius: 0.85rem;
    z-index: 30;
    & h3{
        position: absolute;
        visibility: hidden;
        transition:  0.25s ease-in-out;
    }

    & span{ 
        span{
            transition: 0.15s ease-in;
        }
        
        &:hover{
            span {
                transform: scale(1.4);
            }
            h3 {
                visibility: visible;
            }
        }
    }
}