@use './Colors.module' as *;
.logo {
    position: absolute;
    left: 3vw;
    z-index: 30;
    top: 1.5vh;
    min-width: 25vw;
    max-height: 78px;
    h2 {
       position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.navbar_container{
    // flex: 3;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 90px;
    background-color: $hoverBg;
    top: 4.5vh;
    right: 3vw;
    padding: 0.75rem 0.5rem;
    border-radius: 0.85rem;
    z-index: 30;

    span {
        position: relative;
        width: fit-content;
        // transition: transform 0.1s ease-in-out;
    };
    span::before{
        display: none;
        position: absolute;
        width: 350%;
        top: 150%;
        height: 100%;
        left: -95%;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        font-size: 1.25vw;
        font-weight: 600;
        transition: transform 0.8s ease-in-out;
        
    };
    span:nth-child(1)::before {
        content: 'About Me';
    };
    span:nth-child(2)::before {
        content: 'Skills';
    };
    span:nth-child(3)::before {
        content: 'Portfolio';
    };
    span:nth-child(4)::before {
        content: 'Resume';
    };
    .lightMode::before{
        content: 'Light Mode';
    }
    .darkMode::before{
        content: 'Dark Mode';
    }
    span:hover{
        span{
            transform: scale(1.3) !important;
        }
        
        // background-color: ;
        &::before{
            display: inline-block;
        }
    }
}
.navbar_container::after{
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    z-index: -1;
    border-radius: 0.85rem;
    box-shadow: inset 0 0 1rem rgba(183, 183, 183, 0.7);
    filter: blur(10px);
}