@use './Colors.module' as *;

.portfolioWrapper{
    
    .panel{
        display: grid;
        grid-template-columns: repeat(6, 36vw);
        gap: 10px;
        // position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 80vw;
        height: max(50rem, 40vh);
        scrollbar-width: none;
    }
    .portfolioListEntry{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 2vw 0vw;
        padding: 1.5vw;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.5s ease-in-out;
    }
    .portfolioListEntry:hover{
        background-color: $hoverBg;
        // position: absolute;
        transform: scale(1.05);
        border: 0.25rem solid rgba(255, 255, 255, 0.4);
        z-index: 5;

    }
    .title{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 20%;
        h2 {
            transform: scale(0.85);
        }

        a {
            // position: absolute;
            // right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.65rem;
            border-radius: 100%;

            transition: all 0.5s ease-in-out;
        }
        a:hover{
            background-color: $portfolioGithubLogoHoverBg;
            border: 0.1rem solid $hoverBorder;
        }
    }
    .moreInfo{
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        padding: 1rem 0.15rem;
        // border-radius: 1rem 1.5rem 1.5rem 1rem;
        // border: 0.1rem solid black;
        p{
            transform: scale(0.85);
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            aspect-ratio: 1;
            // background-color: rgba(255, 255, 255, 0.2);
            border-radius: 100%;
            padding: 0.1rem;
            font-size: 2vw;
        }
    // }
    // .moreInfo:hover{
    //     background-color: rgba(0, 0, 0, 0.3);
    //         color: rgba(200, 200, 200, 1);

    //     // span{
    //     // }
    }
}
// .projectWrapper{
//     height: auto;
//     width: 100vw;
//     display: flex;
//     flex-direction: column;
//     overflow-y: scroll;
    .projectContent{
        position: absolute;
        top : 14vh;
        height:80vh;
        
        div{
            width: 80vw;
        }
        div:nth-child(1){
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                border-radius: 100%;
                // background-color: red;
                // transform:  scale(1.05);
                transition: all 0.5s ease-in-out;
                // z-index:10;
            }
            a:hover{
                // transform: scale(1.1);
                background-color: $hoverBg;
                border: 0.1rem solid $hoverBorder;
            }
        }
        div:nth-child(2){
            span{
                postion: relative;
                width: fit-content;
                height: fit-content;
                transform: translateX(4rem);
            }
            span:before{
                position: absolute;
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 70%;
                background-color: $introContentProgrammerImgBg;
                transform: translateX(-2rem) scale(0.95);
                transition: all 0.5s ease-in-out;
            }
            span:hover::before {
                background-color: $introContentProgrammerImgHoverBg;
            }
        }
    }
// }
