@use './colors' as *;
@use './mixin/mediaQueries' as *;

.skillsWrapper{
    width: 100%;
    min-height: 100vh;

    .skillsView{
        width: 45vw;
        // transform: translateX(-4rem);
        display: grid;
        grid-template-columns: repeat(5, 16.5vw);
        aspect-ratio: 3/2;
        // grid-template-columns: repeat(5, max(15rem, 10vw));
        gap: 0.65rem;
        // gap: 1.25rem 0.85rem;
        // grid-template-columns: 8ch auto;
        @include md_screen {
            gap: 0.45rem;
            transform: translateX(-18%) scale(0.7);
            grid-template-columns: repeat(5, 25vw);
            aspect-ratio: 9/16;
        }

        @include sm_screen{
            position: absolute;
            left: 6vw;
            transform: translateY(90%) translateX(-15%) scale(0.6);
            grid-template-columns: repeat(5, 25vw);
            aspect-ratio: 9/16;
        }
        .skillsViewItem{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 1rem;
            // margin: 0.5rem;
            border-radius: 0.65rem;
            transition: background 0.6s ease-in-out;
            
            & p{
                visibility: hidden;
                transform: scale(0.75);
                position: absolute;
                // top: 2rem;
            }
            @include md_screen {
                p {
                    visibility: visible;
                    top: 65%;
                }
            }
            @include sm_screen{
                span {
                    transform: scale(0.6);
                }
                p{
                    visibility: visible;
                    top: 65%;
                }
            }
        }
        .skillsViewItem:hover{
            background-color: $skillViewHoverBg;
            & span{
                animation: 1s 2  skillShakeJump;
            }
            & img {
                opacity: 0.75;
            }
            & p{
                font-weight: 450;
                visibility: visible;
                // transform: scale(1.05);
            }
        }
    }
    @include sm_screen {
        width: 100vw;
        h1{
            margin: 4vw 3.5vw;
        }
        div {
            position: absolute;
            left: 2vw;
            display: flex;
            flex-direction: column;

            h2,
            p {
                margin: 3vw 6vw;
            }
        }
    }
}

@keyframes skillShakeJump {
    0% {
        transform: rotate(-45deg);
    };
    25% {
        transform: translateX(-0.5rem) rotate(0deg);
    };
    50% {
        transform: translateX(0.5rem) rotate(45deg);
    };
    75% {
        position: absolute;
        transform: translateY(-4.25rem) rotate(0);
    };
    100% {
        position: absolute;
        transform: translateY(0.25rem);
    };
}