@use './Colors.module' as *;

.light_mode {
    color: $lightModeText;
}
.dark_mode {
    color: $darkModeText;
}

.navbar_light{
    background-color: $navbarBgLight;
    color: $lightModeText;
    transition: 2s ease-in from bottom right to top left;
}
.navbar_dark {
    background-color: $navbarBgDark;
    color: $darkModeText;
    transition: 2s ease-in from top right to bottom left;
}

.skillViewBgLight {
    background-color: $skillViewBgLight;
};
.skillViewBgDark {
    background-color: $skillViewBgDark;
};

.githubLinkBgLight{
    background-color: $portfolioGithubLogoBgLight;
};
.githubLinkBgDark {
    background-color: $portfolioGithubLogoBgDark;
};

.container_bglight{
    background-image: $backgroundLight
}

.container_bgdark{
    background-image: $backgroundDark;
}
