$lightModeText: #2d2527;
$darkModeText: #fffade;
.light_mode {
    color: $lightModeText;
}

.dark_mode {
    color: $darkModeText;
}

.navbar_light{
    background: rgba(200, 200, 200, 0.4);
    color: $lightModeText;
}

.navbar_dark {
    background: rgba(255, 255, 255, 0.2);
    color: $darkModeText;
}

.container_bglight{
    // COLOR1 ->#b0a8b9 COLOR2 ->#f7f5f2 
    // GRADIENT GENERATOR -> https://mycolor.space/gradient?ori=to+left+bottom&hex=%23F7F5F2&hex2=%23B0A8B9&sub=1

     background: linear-gradient(to left bottom, #f7f5f2, #e9e1dd, #dccccd, #c9b9c2, #b0a8b9);
    // text #2d2527
}

.container_bgdark{
    // COLOR1 ->#18181A COLOR2 -> #3B383D
    // GRADIENT GENERATOR ->https: //mycolor.space/gradient?ori=to+left+bottom&hex=%23362159&hex2=%234B4453&sub=1

     background: linear-gradient(to right bottom, #18181a, #202022, #29282b, #323034, #3b383d);
    // text #fffade
}
